@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

/* NAVIGATION BAR */
.navbar {
  background: #131313;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar__logo {
  background: #654ea3;
  background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);
  background: linear-gradient(to right, #eaafc8, #654ea3);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.navbar__menu {
  display: flex; 
  align-items: center;
  list-style: none;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}

.navbar__links:hover {
  color: #b464be;
  transition: all 0.3s ease;
}

.bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background: #fff;
}

@media screen and (max-width: 800px) {
   .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .navbar__menu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 60vh;
    font-size: 1.6rem;
  }

  #navbar__logo {
    padding-left: 25px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    font-size: 1rem;
  }

  .navbar__btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* HOME SECTION/HERO SECTION */
.hero {
  background: #000000;
  background: linear-gradient(to right, #161616, #000000);
  padding: 45px 0;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  max-width: 1200px;
  margin: 0 auto;
  height: 90%;
  text-align: left;
  padding: 45px;
  max-height: 100%;
}

.hero__heading {
  font-size: 60px;
  margin-bottom: 24px;
  color: #fff;
}

.hero__heading span {
  background: #654ea3;
  background: -webkit-linear-gradient(to right, #eaafc8, #654ea3); 
  background: linear-gradient(to right, #eaafc8, #654ea3); 
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.hero__description {
  font-size: 25px;
  color: #fff;
  margin-bottom: 24px;
}

.hero__smalldescription {
  font-size: 16px;
  color: #fff;
  margin-bottom: 24px;
}

.main__btn {
  background: #654ea3; 
  background: -webkit-linear-gradient(to right, #eaafc8, #654ea3); 
  background: linear-gradient(to right, #eaafc8, #654ea3); 
  color: #fff;
  display: inline-block;
  font-size: 16px;
  width: 10%;
  border-radius: 4px;
  transition-duration: 0.4s;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .main__btn {
    width: 100px;
  }
}

.main__btn-content:hover {
  color:#202020;
  transition: all 0.3s ease;
}

.main__btn:hover {
  box-shadow: 0 0 1.5rem gray;
  transition: all 0.3s ease;
}

/* SKILLS SECTION */
.skills {
  background: #000000;
  background: linear-gradient(to right, #161616, #000000);
  padding: 40px 0;
}

.skills__container {
  column-width: 350px;
  column-gap: 20px;
  padding: 30px;
  align-items: center;
  justify-content: center;
}

.heading__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  max-width: 1200px;
  margin: 0 auto;
  height: 90%;
  text-align: center;
  padding: 30px;
}

.heading {
  font-size: 36px;
  margin-bottom: 4px;
  color: #fff;
}

.card {
  break-inside: avoid;
  page-break-inside: avoid;
  background: #654ea3; 
  background: -webkit-linear-gradient(to right, #eaafc8, #654ea3); 
  background: linear-gradient(to right, #eaafc8, #654ea3);
  padding: 30px;
  margin: 0 0 1em 0;
  color: #fff;
  border-radius: 4px;
  text-align: center;
}

.card-heading {
  font-size: 18px;
  margin-bottom: 4px;
  font-weight: bold;
}

.card-date {
  font-style: italic;
  font-size: 12px;
  margin-bottom: 4px;
}

.card-paragraph {
  font-size: 12px;
  margin-bottom: 4px;
}

/* WORK AND VOLUNTEER EXPERIENCE */
.experience {
  background: #000000;
  background: linear-gradient(to right, #161616, #000000);
  padding: 40px 0;
}

.work__container {
  padding: 30px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  background: #000000;
  background: linear-gradient(to right, #161616, #000000);
}

.timeline::after {
  content: '';
  position: absolute;
  width: 3px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  border-radius: 4px;
  margin-left: -1px;
}

.container {
  padding: 10px 40px;
  position: relative;
  width: 50%;
}

.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background: #654ea3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #eaafc8, #654ea3); 
  background: linear-gradient(to right, #eaafc8, #654ea3);
  border: 3px solid #ffffff;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #654ea3;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #654ea3;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #eaafc8;
  border-width: 10px 10px 10px 0;
  border-color: transparent #eaafc8 transparent transparent;
}

.right::after {
  left: -16px;
}

.content {
  padding: 20px 30px;
  background: linear-gradient(to right, #eaafc8, #654ea3);
  position: relative;
  border-radius: 6px;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .timeline::after {
    left: 31px;
  }

  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .container::before {
    left: 60px;
    border: medium solid #eaafc8;
    border-width: 10px 10px 10px 0;
    border-color: transparent #eaafc8 transparent transparent;
  }

  .left::after, .right::after {
    left: 15px;
  }

  .right {
    left: 0%;
  }
}

.volunteer__container {
  padding: 30px;
  align-items: center;
  justify-content: center;
}

.card3 {
  break-inside: avoid;
  page-break-inside: avoid;
  background: #654ea3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #eaafc8, #654ea3); 
  background: linear-gradient(to right, #eaafc8, #654ea3);
  padding: 30px;
  margin: 1em 0 1em 0;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  width: 600px;
}

@media screen and (max-width: 700px) {
  .card3 {
    break-inside: avoid;
    page-break-inside: avoid;
    background: #654ea3; 
    background: -webkit-linear-gradient(to right, #eaafc8, #654ea3); 
    background: linear-gradient(to right, #eaafc8, #654ea3);
    padding: 30px;
    margin: 0 0 1em 0;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    width: 300px;
  }
}

/* MY PROJECTS SECTION */
.projects {
  background: #000000;
  background: linear-gradient(to right, #161616, #000000);
  padding: 40px 0;
}

.projects__container {
  column-width: 350px;
  column-gap: 20px;
  padding: 30px;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 200px) {
  .projects__container {
    display: flex;
    column-width: 350px;
    column-gap: 20px;
    padding: 30px;
    align-items: center;
  }
}

.card2 {
  margin: 0 0 30px 0;
  text-align: center;
  align-content: center;
  break-inside: avoid;
  page-break-inside: avoid;
	display: flex;
	flex-direction: column;
	width: 200px;
  color: #fff;
	height: 280px;
	border-radius: 0px;
  background: #000000;
  border: 1px solid #bf8ce8;
}

.card2 .work-content {
	text-align: center;
	padding: 5px 5px;
	font-size: 1rem;
	color: #fff;
	cursor: pointer;
  transition: all 0.3s ease;
}

.card2 .work-content:hover {
  color:#808080;
  transition: all 0.3s ease;
  text-decoration: none;
}

.card2:hover {
	box-shadow: 0 0 1.5rem gray;
  transition: all 0.3s ease;
}

/* CONTACT ME SECTION */
.contactme__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  max-width: 1200px;
  margin: 0 auto;
  height: 90%;
  text-align: center;
  padding: 30px;
}

.contact {
  background: #000000;
  background: linear-gradient(to right, #161616, #000000);
  padding: 40px 0;
}

.contact__info {
	font-size: 16px;
  color: #ffffff;
  margin-bottom: 24px;
  text-decoration: none;
}

.content:hover {
	box-shadow: 0 0 1.5rem gray;
  transition: all 0.3s ease;
}

.link:hover {
  color:#808080;
}
